@import "/packages/bootstrap3-less/bootstrap.import.less";

canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}

.ptour-navbar {
  margin-top: 5px;
}

.maintenance {
  position: absolute;
  color: #ffffff;
  z-index: 100;
  display: block;
  top:78px;
  left:25px;
}

.overlays-left {
  position: absolute;
  z-index: 100;
  display: block;
  bottom:1%;
  left:1%;
  width: 25%;
  height: 60%;
  background-color:rgba(70,70,70,0.5);
}

.info {
  height: 50%;
  width: 100%;
  text-align: center;
}

.info h2, p {
  color: #ffffff;
}

.map {
  background-color:rgba(220,220,220,1.0);
  opacity: 80%;
  height: 40%;
  width: 90%;
  margin: auto;
}

.overlays-right {
  position: absolute;
  z-index: 100;
  display: block;
  bottom:1%;
  right:1%;
  width: 15%;
  height: 20%;
  background-color:rgba(70,70,70,0.5);
}

