@import "/packages/bootstrap3-less/bootstrap.import.less";
@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900');

@import "home.import.less";
@import "tour.import.less";
/****************** Base Styles *******************/
html {
  height:100%;
  width:100%;
}

body {
  height:100%;
  width: 100%;
  margin-bottom: -50px;
  background-clip: content-box;
  background: url(../landing/blair.jpg) no-repeat center center fixed;
  // background: url(../landing/blair_blur_10px.jpg) no-repeat center center fixed;
  // background: url(../landing/blair_crowd_blur_05px.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  text-align: center;
}