<template name="tour_tableContents">
  <div class="graph">
    <div class="cell">
      <ul class='inactive'>
        <li class="active graph-item" id="scene01" data-name="Scene_01" data-title="Clio">
            <a href="#" onclick="return Template.tour.changeLocation(1)">
              <img class="img-circle grayscale" alt="Clio" height="100" src="../tour/thumbnails/clio.jpg" width="100">
            </a>
        </li>
        <li class="graph-item" id="scene02" data-name="Scene_02" data-title="Chapel">
            <a href="#" onclick="return Template.tour.changeLocation(2)">
              <img class="img-circle grayscale" alt="Chapel" height="100" src="../tour/thumbnails/chapel.jpg" width="100">
            </a>
        </li>
        <li class="graph-item" id="scene03" data-name="Scene_03" data-title="Blair">
            <a href="#" onclick="return Template.tour.changeLocation(3)">
              <img class="img-circle grayscale" alt="Firestone" height="100" src="../tour/thumbnails/firestone.jpg" width="100">
            </a>
        </li>
        <li class="graph-item" id="scene04" data-name="Scene_04" data-title="Blair">
            <a href="#" onclick="return Template.tour.changeLocation(3)">
              <img class="img-circle grayscale" alt="Blair" height="100" src="../tour/thumbnails/blair.jpg" width="100">
            </a>
        </li>
        <li class="graph-item" id="scene05" data-name="Scene_05" data-title="NassauHall">
            <a href="#" onclick="return Template.tour.changeLocation(4)">
              <img class="img-circle grayscale" alt="NassauHall" height="100" src="../tour/thumbnails/nassau.jpg" width="100">
            </a>
        </li>
        <li class="graph-item" id="scene06" data-name="Scene_06" data-title="McCosh">
            <a href="#" onclick="return Template.tour.changeLocation(5)">
              <img class="img-circle grayscale" alt="Nassau Memorial" height="100" src="../tour/thumbnails/nassau_memorial.jpg" width="100">
            </a>
        </li>
        <li class="graph-item" id="scene07" data-name="Scene_07" data-title="McCosh">
            <a href="#" onclick="return Template.tour.changeLocation(5)">
              <img class="img-circle grayscale" alt="McCosh" height="100" src="../tour/thumbnails/mccosh.jpg" width="100">
            </a>
        </li>
        <li class="graph-item" id="scene08" data-name="Scene_08" data-title="Dillon">
            <a href="#" onclick="return Template.tour.changeLocation(6)">
              <img class="img-circle grayscale" alt="Dillon" height="100" src="../tour/thumbnails/dillon.jpg" width="100">
            </a>
        </li>
        <li class="graph-item" id="scene09" data-name="Scene_09" data-title="Holder">
            <a href="#" onclick="return Template.tour.changeLocation(7)">
              <img class="img-circle grayscale" alt="Holder" height="100" src="../tour/thumbnails/holder.jpg" width="100">
            </a>
        </li>
        <li class="graph-item" id="scene10" data-name="Scene_10" data-title="Alexander">
            <a href="#" onclick="return Template.tour.changeLocation(8)">
              <img class="img-circle grayscale" alt="Alexander" height="100" src="../tour/thumbnails/richardson.jpg" width="100">
            </a>
        </li>
        <!-- <li class="graph-item" id="scene11" data-name="Scene_11" data-title="new01">
            <a href="#" onclick="return Template.tour.changeLocation(11)">
              <img class="img-circle grayscale" alt="new01" height="100" src="http://placekitten.com/100/100" width="100">
            </a>
        </li> -->
        <!-- <li class="graph-item" id="scene09" data-name="Scene_09" data-title="McCormick">
            <a href="#" onclick="return Template.tour.changeLocation(9)">
              <img class="img-circle grayscale" alt="McCormick" height="100" src="../tour/thumbnails/artmuseum.jpg" width="100">
            </a>
        </li> -->
        <!-- <li class="graph-item" id="scene10" data-name="Scene_10" data-title="EastPyne">
            <a href="#" onclick="return Template.tour.changeLocation(10)">
              <img class="img-circle grayscale" alt="EastPyne" height="100" src="../tour/thumbnails/eastpyne.jpg" width="100">
            </a>
        </li> -->

        <li class="graph-item" id="scene11" data-name="Scene_11" data-title="Frist">
            <a href="#" onclick="return Template.tour.changeLocation(9)">
              <img class="img-circle grayscale" alt="Frist" height="100" src="../tour/thumbnails/frist.jpg" width="100">
            </a>
        </li>
        <li class="graph-item" id="scene12" data-name="Scene_12" data-title="new02">
            <a href="#" onclick="return Template.tour.changeLocation(12)">
              <img class="img-circle grayscale" alt="Prospect House" height="100" src="../tour/thumbnails/prospect.jpg" width="100">
            </a>
        </li>
        <li class="graph-item" id="scene13" data-name="Scene_13" data-title="new03">
            <a href="#" onclick="return Template.tour.changeLocation(13)">
              <img class="img-circle grayscale" alt="Woodrow Wilson School" height="100" src="../tour/thumbnails/woodywoo.jpg" width="100">
            </a>
        </li>
        <li class="graph-item" id="scene14" data-name="Scene_14" data-title="new04">
            <a href="#" onclick="return Template.tour.changeLocation(14)">
              <img class="img-circle grayscale" alt="Engineering Quadrangle" height="100" src="../tour/thumbnails/equad.jpg" width="100">
            </a>
        </li>
        <li class="graph-item" id="scene15" data-name="Scene_15" data-title="new05">
            <a href="#" onclick="return Template.tour.changeLocation(15)">
              <img class="img-circle grayscale" alt="Spelman" height="100" src="../tour/thumbnails/spelman.jpg" width="100">
            </a>
        </li>
        <li class="graph-item" id="scene16" data-name="Scene_16" data-title="new06">
            <a href="#" onclick="return Template.tour.changeLocation(16)">
              <img class="img-circle grayscale" alt="new02" height="100" src="http://placekitten.com/100/100" width="100">
            </a>
        </li>
      </ul>
    </div>

  </div>
</template>