<template name="about">
<div class="wrap">

    <!-- Fixed navbar -->
    <div class="navbar navbar-custom navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{pathFor 'home'}}">Ptour</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right cl-effect-1">
            <li><a href="{{pathFor 'about'}}">About</a></li>
            <li><a href="{{pathFor 'team'}}">Team</a></li>
            <li><a href="{{pathFor 'contact'}}">Contact</a></li>
            <li><a href="{{pathFor 'more'}}">More</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

  <div id="header">
    <div class="container about">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
          <h1>Orange Key Tours</h1>
          <h2 class="subtitle">A Longstanding Princeton Tradition</h2>
          <p> The <a class="content" href="http://www.princeton.edu/~oktour/orangekey/" target="_blank">Orange Key Guide Service</a> is a student organization at Princeton University whose members focused on sharing Princeton's history, tradition, and culture with the broader community. Orange Key tours serve as the primary means for prospective students and visitors to learn about the University through individual perspectives of undergraduate students.</p>
          <p>Orange Key offers 20 tours per week with a few exceptions such as University holidays and operates with support of the Admission Office.Orange Key tours cover many aspects of Princeton life, from academic information and campus life to University history and architectural details.</p>

          <a class='btn-lg btn-default btn-theme' href="{{pathFor 'tour'}}">Tour</a>
        </div>

      </div> <!-- /.row -->
  </div> <!-- /.container -->
  </div> <!-- /.header -->
</div> <!-- /.wrap -->
<div id="footer">
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <p class="copyright">A project for <a class="footanchor" href="http://www.cs.princeton.edu/courses/archive/spring14/cos333/" target="_blank">COS333: Advanced Programming Techniques</a></p>
    </div>
  </div>
</div> <!-- /.container -->
</div> <!-- /.footer -->


</template>
