<template name="about">
<div class="wrap">

{{>home_header}}

  <div id="header">
    <div class="container about">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
          <h1>Orange Key Tours</h1>
          <h2 class="subtitle">A Longstanding Princeton Tradition</h2>
          <p> The <a class="content" href="http://www.princeton.edu/~oktour/orangekey/" target="_blank">Orange Key Guide Service</a> is a student organization at Princeton University whose members focused on sharing Princeton's history, tradition, and culture with the broader community. Orange Key tours serve as the primary means for prospective students and visitors to learn about the University through individual perspectives of undergraduate students.</p>
          <p>Orange Key offers 20 tours per week with a few exceptions such as University holidays and operates with support of the Admission Office.Orange Key tours cover many aspects of Princeton life, from academic information and campus life to University history and architectural details.</p>

          <a class='btn-lg btn-default btn-theme' href="{{pathFor 'tour'}}">Tour</a>
        </div>

      </div> <!-- /.row -->
  </div> <!-- /.container -->
  </div> <!-- /.header -->
</div> <!-- /.wrap -->

{{>home_footer}}

</template>
