<template name="contact">


<div class="wrap">

    <!-- Fixed navbar -->
    <div class="navbar navbar-custom navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{pathFor 'home'}}">Ptour</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{pathFor 'about'}}">About</a></li>
            <li><a href="{{pathFor 'team'}}">Team</a></li>
            <li><a href="{{pathFor 'contact'}}">Contact</a></li>
            <li><a href="{{pathFor 'more'}}">More</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

  <div id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
          <h1>Contact Us</h1>
          <h2 class="subtitle"></h2>
            <p>Visit Princeton's <a href="https://www.princeton.edu" target="_blank">website</a> if you want to learn more about Princeton University. If you are a prospective student, please visit the main<a href="https://www.princeton.edu/admission/" target="_blank">admissions page</a>.</p>
            <p>For other comments or questions about <a href="www.ptour.co">Ptour</a>, feel free to email us at <a href="mailto:ptour.co@gmail.com">ptour.co@gmail.com</a></p>
            <p class="fineprint">Please refer to the <a class="schedule" href="http://www.princeton.edu/admission/visitprinceton/tours_information_schedule/spring.xml" target="_blank">schedule</a> for more information.</p>

          <a class='btn-lg btn-default btn-custom' href="{{pathFor 'tour'}}">Tour</a>
        </div>

      </div> <!-- /.row -->
  </div> <!-- /.container -->
  </div> <!-- /.header -->

  <div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
          <p class="copyright">A project for <a class="footanchor" href="http://www.cs.princeton.edu/courses/archive/spring14/cos333/" target="_blank">COS333: Advanced Programming Techniques</a></p>
      </div>
    </div>
  </div> <!-- /.container -->
  </div> <!-- /.footer -->


</div>

</template>
