<template name="features">
<div class="wrap">
{{>home_header}}
<div id="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="screencast-title">Feature Screencast</h1>
        <p>Please watch the minute long screencast below for a feature overview.</p>
        <iframe width="640" height="360" src="//www.youtube.com/embed/pUyqXVkU7qA" frameborder="0" allowfullscreen></iframe>

      </div> <!-- .col-lg-12 -->
    </div>  <!-- .row -->
  </div> <!-- .container -->
</div> <!-- #header -->

{{>home_footer}}
</div>
</template>