<template name="home">


<div class="wrap">

    <!-- Fixed navbar -->
    <div class="navbar navbar-custom navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">Ptour</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{pathFor 'about'}}">About</a></li>
            <li><a href="{{pathFor 'contact'}}">Contact</a></li>
            <li><a href="{{pathFor 'team'}}">Team</a></li>
            <li><a href="{{pathFor 'more'}}">More</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

  <div id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
          <h1>Welcome to Ptour</h1>
          <h2 class="subtitle">The Orange Key Virtual Campus Tour of <br><a class="content" href="http://www.princeton.edu/main/" target="_blank">Princeton University</a></h2>
          <p>Sometimes its hard to visit another college campus, especially when you live far away. This tour is geared towards prospective students and those who are interested in learning more about <a class="content" href="http://www.princeton.edu/main/" target="_blank">Princeton University</a>.</p>
          <p>Ready when you are!</p>
          <a class='btn-lg btn-default btn-custom' href="{{pathFor 'tour'}}">Tour</a>
        </div>

      </div> <!-- /.row -->
  </div> <!-- /.container -->
  </div> <!-- /.header -->

  <div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
          <p class="copyright">A project for <a class="footanchor" href="http://www.cs.princeton.edu/courses/archive/spring14/cos333/" target="_blank">COS333: Advanced Programming Techniques</a></p>
      </div>
    </div>
  </div> <!-- /.container -->
  </div> <!-- /.footer -->


</div>

</template>
