<template name="team">
<div class="wrap">

  {{>home_header}}

  <div id="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>The Team</h1>
            <div class="vert">
              <div class="col-md-12 col-lg-12 text-center">&nbsp;</div>
              <div class="col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 text-center">
                <div class="row hidden-xs">
                 <div class="col-sm-3"><img class="img-circle grayscale" src="../landing/team/david.jpg"></div>
                 <div class="col-sm-3"><img class="img-circle grayscale" src="../landing/team/elaine.jpg"></div>
                 <div class="col-sm-3"><img class="img-circle grayscale" src="../landing/team/shwetha.jpg"></div>
                 <div class="col-sm-3"><img class="img-circle grayscale" src="../landing/team/thomas.jpg"></div>
               </div> <!-- /.col-md-8 -->
              </div> <!-- /.col-md-12 -->
            </div> <!-- /.vert -->
            </div>

      </div> <!-- /.row -->
  </div> <!-- /.container -->
  </div> <!-- /.header -->
</div>

{{>home_footer}}

</template>

