<template name="tour">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="ptour-navbar container-fluid">
    <ul class="nav nav-pills">
      <li class=""><a href="#">Ptour</a></li>
      <li><a href="#">Explore <span class="caret"></span></a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Settings <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Audio</a></li>
          <li><a href="#">Text</a></li>
        </ul>
      </li>
    </ul>
    <button onclick=Template.tour.doSearch()>Search</button>
  </div>
</nav>

<div id="container">
  <div class="maintenance">
    <h1>Tour is in maintenance.</h1>
  </div>

  <div class="overlays-left">
    <div class="info">
      <h2>Title</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, deleniti quidem tenetur quae quo accusantium dignissimos suscipit nobis. </p>
    </div>
    <div class="map">

    </div>
  </div>

  <div class="overlays-right">
    <button onclick=Template.tour.changeLocation()>Change Location</button>
    <button onclick=Template.tour.getRandomPoint()>Change Point</button>
    <audio id="audio" controls>
      <source id="mp3Source" type="audio/mpeg">
	<embed height="50" width="100">
    </audio>
    {{#if isDebug}}
    <button onclick=Template.tour.setLocation()>Set Location</button>
    {{/if}}
  </div>
</div>

</template>
